* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}
/* font 
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif', serif; 

Color Theme Swatches in Hex
.Portfolio-1-hex { color: #001406; }
.Portfolio-2-hex { color: #FFFFFF; }
.Portfolio-3-hex { color: #F2F2F2; }
.Portfolio-4-hex { color: #473B3B; }
.Portfolio-5-hex { color: #C40000; } */




:root { 
--black: #001406;
--white: #FFFFFF;
--eggshell: #f2f2f2;
--grey: #473B3B;
--red: #C40000;
--sans: 'Noto Sans', sans-serif;
--serif: 'Noto Serif', serif;
--animation: all 4s ease-in-out;
--box-shadow-1: 0 3px 15 px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--black);
  font-family: var(--sans);
  color: var(--white);
  font-size: 1.1rem;
  transition: var(--animation); 
}

h1 {
  font-family: var(--serif);
  color: var(--white);
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--red);
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--white);
  overflow: hidden;
}

section { 
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: var(--animation);
  background-color: var(--black);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: hotpink;
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: darkkhaki;
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: lawngreen;
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: #C40000;
}

//Control
.control {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
  .active-btn {
    background-color: var(--red) !important;
    transition: var(--animation);
    i {
      color: var(--white) !important;
    }
  }
.controls {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--grey);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .7rem 0;
  box-shadow: var(--box-shadow-1);
i {
  font-size: 1.2rem;
  color: var(--eggshell);
  pointer-events: none;
}
}
}
